<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">       
        {{>header}}
        <p>This site was created by Rohit B R. This site uses mapbox API.</p>
        <img class="portrait" src="/img/rohit.jpg">
    </div>
    
    {{>footer}}
</body>

</html>